<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PiW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PiW.Properties.Settings>
            <setting name="webAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="webRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="vRoot" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="appType" serializeAs="String">
                <value>MVC</value>
            </setting>
            <setting name="listen" serializeAs="String">
                <value>Loopback</value>
            </setting>
            <setting name="redisAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDocs" serializeAs="String">
                <value>index.html,default.html,index.aspx,default.aspx</value>
            </setting>
            <setting name="MVCroot" serializeAs="String">
                <value>/Home/</value>
            </setting>
            <setting name="Users" serializeAs="String">
                <value>{"user":"admin","password":"pwd","group":"admin"},{"user":"guest","password":"pwd","group":"guests"}</value>
            </setting>
            <setting name="Groups" serializeAs="String">
                <value>{"group":"admin","read":true,"write":true},{"group":"guests","read":true,"write":false}</value>
            </setting>
            <setting name="showPanel" serializeAs="String">
                <value>False</value>
            </setting>
        </PiW.Properties.Settings>
    </userSettings>
</configuration>
